<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>My Diary | Add Diary Entry</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./css/style.css" />
        <link rel="stylesheet" href="./css/reminder.css" />
    </head>
    <body>
        <header>
            <div class="nav-bar">
                <div class="logo">
                    <a href="index.html">MyDiary</a>
                </div>
                <nav>
                    <ul>
                        <li><a href="profile.html" id="profile">Profile</a></li>
                        <li><a href="index.html" id="signout">Signout</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="container-entry">
            <h1>Pen Down Your Thoughts/Feelings</h1>

            <div id="myModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <form class="modal-form" autocomplete="off" action="profile.html">
                        <label for="title">Entry Title</label>
                        <input required  type="text" name="title" id="reminderTitle" placeholder="Title your entry">

                        <label for="calendar">Calendar</label>
                        <ul id="calendar">
                            <li>
                                <input type="date" required name="date" id="date" min="2018-08-01">
                            </li>
                            <li>
                                <input type="time" required name="time" id="time" value="00:00">
                            </li>
                        </ul>
                        
                        <input type="submit" value="Save">
                    </form>
                </div>
            </div>

            <div class="add-entry-form">
                <form autocomplete="off" id="entryForm">
                    <label for="title">Title: </label> <span class="formFeedback"></span>
                    <input required  type="text" name="title" id="title" placeholder="Title your thoughts/feelings">

                    <label for="description">Description: </label> <span class="formFeedback"></span>
                    <textarea type="textarea" required name="description" id="description" placeholder="Describe your thoughts/feelings"></textarea>
                    
                    <div id="imageUpload">
                        <input type="file" accept="image/*" id="image" name="image" onchange="imageUpload()">
                        <span id="fileName">Image</span>
                    </div>
                    <input type="submit" value="Save">
                    <input type="button" value="Create Later" class="create later" style="background: orange; color: #000;">
                </form>
            </div>
            
        </div>
        <script src="./js/reminder.js"></script>
        <script src="./js/fetch/utils.js"></script>
        <script src="./js/fetch/add-entry.js"></script>
    </body>
</html>
