<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Unauthorized</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./css/style.css" />
    </head>
    <body>
        <header>
            <div class="nav-bar">
                <div class="logo">
                    <a href="index.html">MyDiary</a>
                </div>
            </div>
        </header>
        <div class="pageAlert"></div>
        <div class="container unauthorized">

            <h1>Unauthorized Access</h1>
            <p>Loading Signup - Login page  <span class="dot1">.</span> <span class="dot2"> .</span> <span class="dot3"> .</span></p>
           
        </div>
        <!-- <script>
          setTimeout(() => location.assign('index.html'), 4000);
        </script> -->
    </body>
</html>
