html{
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    background-image: url('../img/body-bg.jpg');
    background-repeat: repeat;
    font-size: 18px;
    font-family: 'Patua One', serif;
}
h1, h2, h3 {
    letter-spacing: 2px;
    color: #fff;
}
.nav-bar{
    max-width: 960px;
    margin: 0 auto;
}

header{
    height: 60px;
    background: #000;
    color:#fff;
}
header .logo{
    float: left;
    line-height: 60px;
    font-size: 2em;
    letter-spacing: 5px;
    padding: 5px;
}
a, nav a{
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}
.logo a, #fileName{
    color: #fff;
}
.logo a:hover{
    font-weight: bold;
}
header nav{
    overflow: hidden;
    float: right;
}
ul{
    list-style: none;
    padding: 0;
}
nav li{
    float: left;
}
nav .left-nav, nav #user, #signup{
    color: #fff;
    margin-left: 15px;
    display: inline-block;
}
nav .left-nav, #signup {
    padding: 8px 10px
}
nav .left-nav:hover, #signup:hover {
    border-radius: 3px;
    background:  #2b2a2a;
}
#avatar {
    border-radius: 100%;
    height: 40px;
    width: 40px;
    margin-top: -7px;
}
.container, .container-entries, .container-entry{
    margin: 5% auto;
    text-align: center
}
.container-entries{
    max-width: 1300px;
}
.container-entry{
    max-width: 960px;
}
.welcome{
    color: #fff
}
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    overflow-x: hidden;
}

.intro {
    left: 0;
}

.auth {
    right: 0;
}

.centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
    z-index: 1;
}
.quote-div {
    height: 200px;
    padding: 5%;
}
.auth-form{
    border-radius: 10px;
    background: rgba(1, 2, 4, 0.51);
    padding: 30px;
    width: 500px;
    margin: 0;
    box-sizing: border-box;
    display: none;
}
form label{
  padding:10px;
  color: #fff;
}
form input, textarea{
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
}
.imageUpload {
    display: block;
}
textarea{
    min-height: 200px;
}
input::placeholder{
    text-align: center;
}
form input:focus, textarea:focus {
    border-radius: 5px;
    border: 1px solid lime;
    outline:none ;
}
form input[type="submit"]{
    display: inline-block;
    width: auto;
    padding: 10px 20px;
    background: green;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}
form input[type=file]{
    width: 100px;
    color: transparent;
}
form input[type="submit"]:hover, .entry-time input:hover {
    color: #fff;
    font-weight: bold;
}
.add-entry-form {
    border-radius: 10px;
    background: rgba(1, 2, 4, 0.51);
    padding: 30px;
    width: 80%;
    box-sizing: border-box;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000;
    padding: 12px 16px;
    width: 90px;
    height: 120px;
    text-align: center;
}
.dropdown:hover .dropdown-content {
    display: block;
}
#profile, #signout {
    padding: 5px
}
#profile:hover, #signout:hover {
    background: #2b2a2a;
    border-radius: 5px;
}
.card, .detailed-card {
	background: rgba(1, 2, 4, 0.51);
	margin-bottom: 2em;	
}
.brief-content {
	padding: .5em;
}
.brief-content p {
    font-size: 90%;
    color: #fff;
    text-align: left;
}
.entry-time {
    background: #000;
    color: #fff; 
    font-size: 80%;
    padding: .5em;
}
.entry-time span#time {
    margin-right: 3em;
}
.entry-time input {
    border-radius: 3px;
    border: none;
    outline: none;
    background: green;
    color: #fff;
    padding: 3px;
    cursor: pointer;
}
.profile-pics {
    border-radius: 100%;
    height: 200px;
    width: 200px;
}
div#userData {
    width: 60%
}
div.userData > ul > li {
    text-align: left;
    margin-left: 28%;
}
div#count {
    width: 60%;
}
.entry-count {
    display: flex;
    background: rgba(1, 2, 4, 0.51);
    width: 100%;
}
.entries {
    width: 80%;
}
.count {
    background: rgba(1, 2, 4, 0.51);
    height: 70px;
    width: 95px;
}
.reminder {
    height: 200px;
    background: rgba(1, 2, 4, 0.51);
}
.settings > h2 {
    background: rgba(1, 2, 4, 0.51);
    padding: 20px
}
span.create {
    background: green;
    border-radius: 5px;
    padding: 2px;
    font-weight: bolder;
    margin-left: 28px;
    cursor: pointer;
}
span.cancel {
    background: red;
    border-radius: 5px;
    padding: 2px;
    font-weight: bolder;
    margin-left: 50px;
    cursor: pointer;
}


@media screen and (min-width: 40em) {
    .all-entries {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .card {
        flex: 0 1 calc(50% - 1em);
    }
}
@media screen and (min-width: 70em) {
    .card {
        flex: 0 1 calc(25% - 1em);
    }

}
@media (max-width: 1032px) {
    .all-entries {
        width: 90%;
        padding-left: 5%;
    }
}
@media (max-width: 1024px) {
	header .logo{
        font-size: 1.5em;
    }
    .nav-bar{
        padding-left: 5px;
        padding-right: 5px;
    }
	.split{
        width: 100%;
        position: absolute;
        overflow: hidden;
        height: 900px;
    }
    .centered{
        top: auto;
        left: auto;
        transform: none;
        text-align: center;
        margin-left: 5%;
    }
    div#intro{
        top: 5%;
        width: 90%;
    }
    div#auth{
        top: 30%;
        width: 90%;
    }
    .auth-form{
        width: 100%;
    }
    .dropdown-content {
        left: 88%;
    }
    div#count{
        top: 0%;
        width: 90%;
    }
    div#userData{
        top: 35%;
        width: 90%;
    }
    div.userData > ul > li {
        text-align: left;
        margin-left: 38%;
    }
}
@media (max-width: 768px) {
    .dropdown-content {
        left: 85%;
    }
}
@media (max-width: 640px) {
    h2.entry-title {
        padding-top: 20px;
    }
}
@media (max-width: 414px) {
    .dropdown-content {
        left: 71%;
    }
    header .logo{
        font-size: 1em;
    }
    .logo a:hover{
        font-weight: normal;
    }
    div.userData > ul > li {
        text-align: left;
        margin-left: 24%;
    }
}
@media (max-width: 375px) {
    .dropdown-content {
        left: 66%;
    }
    div.userData > ul > li {
        text-align: left;
        margin-left: 20%;
    }
}
@media (max-width: 320px) {
    .dropdown-content {
        left: 62%;
    }
    .nav-bar{
        padding-left: 0;
        padding-right: 5px;
    }
}
